
{% extends 'base.html.twig' %}
{%block header%}
{%endblock%}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><h1>New Course</h1></div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_label(form.title, 'Title') }}
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.description, 'Description') }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 4}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.category, 'Category') }}
                            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.duration, 'Duration') }}
                            {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.level, 'Level') }}
                            {{ form_widget(form.level, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.price, 'Price') }}
                            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.url, 'Image') }}
                            {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%block footer%}
{%endblock%}