{% extends 'base.html.twig' %}
{% block header %}
{%endblock%}
{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header text-center">
          <h2>Enroll in Course <p class="text-info">"{{ course.title }}"</p></h2>
        </div>
        <div class="card-body">
          {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.cardNbr) }}
            {{ form_widget(form.cardNbr, { 'attr': {'class': 'form-control',value:""} }) }}
        </div>
    
        <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-primary">Enroll now</button>
        </div>
        {{ form_end(form) }}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
{%endblock%}

