{% extends 'base.html.twig' %}

{% block title %}ALI_ACADEMY{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/path/to/custom.css">
{% endblock %}

{% block body %}
   
    <section class="hero-section">
    <div class="container">
        <div class="row align-items-center">
           <div class="d-flex justify-content-center align-items-center vh-52">
            <div class="hero-content text-center">
             <h1 class="font-bold text-4xl md:text-5xl mb-4 text-info">Learn Anything, Anytime and Anywhere</h1>
             <p class="text-lg text-black-200 mb-8">Welcome to our online learning platform, where you can find the knowledge and skills you need to advance your career or explore new topics. Our courses are designed and taught by experts in their fields, and you can access them from anywhere, at any time.</p>
            </div>
        </div>
       <div class="col-md-14">
          <img src="https://github.com/wafaehamdaoui/UEMF-RESOURCES/blob/master/frontend/public/Capture.PNG?raw=true" alt="Hero Image" class="img-fluid">
        </div>
        <div class="d-flex justify-content-center mt-5">
  <form class="form-inline col-lg-8 mb-5">
    <input class="form-control col-lg-10 mr-lg-2 py-4 text-center" type="search" placeholder="What do you want to learn today?" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>

    </div>
    </section>
  
  <section class="featured-courses">
  <div class="container">
    <h2 class="text-center mb-5">Featured Courses</h2>
    <div class="row">
    {% for course in courses %}
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src={{course.url}} class="card-img-top" alt="Course Image">
          <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">{{course.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ path('courseDetails', {'id': course.id}) }}" class="btn btn-sm btn-outline-secondary">Learn More</a>
                <a href="{{ path('enroll', {'id': course.id}) }}" class="btn btn-sm btn-outline-secondary">Enroll Now</a>
              </div>
              <small class="text-muted">${{course.price}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center mb-5">
       <a href="{{ path('allCourses') }}" class="btn btn-outline-success my-2 my-sm-0">Explore More Courses</a>
    </div>
  </div>
  </section>
  <section class="course-categories">
  <div class="container mb-5">
     <h2 class="text-center mb-5">Course Categories</h2>
     <div class="row">
       {% for category in categories %}
        <div class="col-md-4 mb-5">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{category.name}}</h5>
              <p class="card-text">{{category.description}}</p>
              <a href="{{path('findByCategory',{'id':category.id})}}" class="btn btn-sm btn-outline-secondary">View Courses</a>
            </div>
          </div>
         </div>   
       {% endfor %}
     </div>
   </div>
  </section>
<section class="free-courses">
  <div class="container">
    <h2 class="text-center mb-5">Free Courses</h2>
    <div class="row">
    {% for course in freeCourses %}
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src={{course.url}} class="card-img-top" alt="Course Image">
          <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">{{course.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ path('courseDetails', {'id': course.id}) }}" class="btn btn-sm btn-outline-secondary">Learn More</a>
                <a href="{{ path('enroll', {'id': course.id}) }}" class="btn btn-sm btn-outline-secondary">Enroll Now</a>
              </div>
              <small class="text-white bg-success p-2 rounded-circle">Free</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center mb-5">
      <a href="{{ path('findFree') }}" class="btn btn-outline-success my-2 my-sm-0">Explore More Courses</a>
    </div>
  </div>
</section>


{% endblock %}