{% extends 'base.html.twig' %}

{% block title %}Welcome to My Platform{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/path/to/custom.css">
{% endblock %}

{% block body %}
  <section class="featured-courses">
  <div class="container">
    <h2 class="text-center mb-5">{{title}}</h2>
    <div class="row">
    {% for course in courses %}
      <div class="col-md-4 mb-5">
        <div class="card">
          <img src={{course.url}} class="card-img-top" alt="Course Image">
          <div class="card-body">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">{{course.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{ path('courseDetails', {'id': course.id}) }}" class="btn btn-sm btn-outline-secondary">Learn More</a>
                <a href="{{ path('enroll', {'id': course.id}) }}" class="btn btn-sm btn-outline-secondary">Enroll Now</a>
              </div>
              <small class="text-muted">${{course.price}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}