{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Response</th>
                <th>Choices</th>
                <th>Quiz</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.question }}</td>
                    <td>{{ question.response }}</td>
                    <td>{{ question.choices|join(', ') }}</td>
                    <td>{{ question.quiz.title }}</td>
                    <td>
                        <a href="{{ path('question_show', {'id': question.id}) }}">Show</a>
                        <a href="{{ path('question_edit', {'id': question.id}) }}">Edit</a>
                        {{ form_start(delete_form) }}
                            <input type="hidden" name="question_id" value="{{ question.id }}">
                            <button class="btn btn-danger">Delete</button>
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No questions found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success mt-2 mb-3 col-2 " href="{{ path('addQuestion') }}">Add New Question</a>
{% endblock %}
