{% extends 'dashboard.html.twig' %}

{% block body %}
  <div class="container-fluid">
    <div class="row">
      <h2>List of Lessons</h2>
       <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>#</th>
                <th>Lesson Name</th>
                <th>Course</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            {% for lesson in lessons %}
              <tr>
                <td>{{lesson.id}}</td>
                <td>{{lesson.title}}</td>
                <td>{{lesson.course.title}}</td>
                <td><a href="{{path('lesson_edit',{'id':lesson.id})}}" class="btn btn-sm btn-primary">Edit</a>
                <a href="{{path('lesson_delete',{'id':lesson.id})}}" class="btn btn-danger btn-sm">Delete</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <a class="btn btn-success mt-2 mb-3 col-2 " href="{{ path('addLesson') }}">Add New Lesson</a>
    </div>
  </div>
{%endblock%}