{% extends 'base.html.twig' %}
{%block header%}
{%endblock%}
{% block body %}
    <h1 class="text-center">Edit Quiz "{{ quiz.title }}"</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_row(form.title, { 'label': 'Title', 'attr': {'class': 'form-control mb-3'} }) }}
                {{ form_row(form.lesson, { 'label': 'Lesson', 'attr': {'class': 'form-control mb-3'} }) }}
                {{ form_row(form._token) }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <a href="{{ path('Categories') }}">Back to Category list</a>
{% endblock %}
{%block footer%}
{%endblock%}
