{% extends 'base.html.twig' %}

{% block title %}All Quizzes{% endblock %}
{%block header%}
{%endblock%}
{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">All Lessons</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Lesson</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for quiz in quizzes %}
                    <tr>
                        <td>{{ quiz.title }}</td>
                        <td>{{ quiz.lesson.title }}</td>
                        <td>
                            <a class="btn btn-primary mr-2" href="{{ path('showQuiz', {'id': quiz.id}) }}">Details</a>
                            <a class="btn btn-danger" href="{{ path('showQuiz', {'id': quiz.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success mt-2 mb-3 col-2 " href="{{ path('addQuiz') }}">Add New Lesson</a>
    </div>
{% endblock %}
{%block footer%}
{%endblock%}