{% extends 'base.html.twig' %}

{% block title %}{{ quiz.title }}{% endblock %}
{%block header%}
{%endblock%}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>{{ quiz.title }}</h1>
      <h3>{{ quiz.lesson.title }}</h3>

      <h2>Questions</h2>
      {% if quiz.questions is not empty %}
      <ul>
        {% for question in quiz.questions %}
        <li>{{ question.question }}</li>
        {% endfor %}
        
      </ul>
      {% else %}
      <p>No Question yet</p>
      {% endif %}
      <div class="btn-group">
            <a href="{{ path('NewQuestion', {'quizId': quiz.id}) }}" class="btn btn-sm btn-outline-secondary">Add Question</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
{%block header%}
{%endblock%}