{% extends 'base.html.twig' %}

{% block title %}All Lessons{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-4">All Lessons</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Course</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.title }}</td>
                        <td>{{ lesson.course.title }}</td>
                        <td>
                            <a class="btn btn-primary mr-2" href="{{ path('lessonDetails', {'id': lesson.id}) }}">Details</a>
                            <a class="btn btn-danger" href="{{ path('lesson_delete', {'id': lesson.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success mt-2 mb-3 col-2 " href="{{ path('addLesson') }}">Add New Lesson</a>
    </div>
{% endblock %}
